{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}

{% block object-tools %}
{{ block.super }}

<fieldset class="module aligned ">
{% for field_name, serializer in restframework_definable_serializers.items %}
    {% url opts|admin_urlname:'show-browsable-api-view' original.pk|admin_urlquote field_name as test_url%}

    <h2>
        Field of {{field_name}}
        <span><a align="right" href="{{test_url}}" style="color: #FFFFFF; text-decoration: underline" target="_blank">(Show Restframework Browsable Page)</a></span>
    </h2>

    <pre>{{serializer}}</pre>

{% endfor %}
</fieldset>

<hr>

{% endblock %}
