{% extends 'admin/change_form.html' %}

{% block object-tools %}
{{ block.super }}

<fieldset class="module aligned ">
    <h2>Serializers definition</h2>
    {% for field_name, serializer in restframework_definable_serializers.items %}
    <h3>field of {{ field_name }}</h3>
    <div class="form-row field-serializer_field">
        <label class="required" for="id_serializer_field">{{ serializer.serializer_name }}</label>
        <div class="module">
            <table width="60%">
                <thead>
                    <tr>
                        <th>field name</th>
                        <th>field type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field_name, field_type in serializer.fields.items %}
                    <tr>
                        <td>{{ field_name }}</td>
                        <td>{{ field_type }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</fieldset>
{% endblock %}
